<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>

    <!--程序日志-->
    <logger name="LogApp">
      <level value="ALL"/>
      <appender-ref ref="AppLogFileAppender"/>
    </logger>

    <appender name="AppLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--按日期滚动备份，每天限制最多产生1M日志（500K * 2个文件）-->
      <param name="File" value="Log/A-程序日志/App_"/>
      <param name="Encoding" value="utf-8"/>
      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
      <param name="MaximumFileSize" value="500KB"/>
      <param name="MaxSizeRollBackups" value="1"/>
      <param name="RollingStyle" value="Composite"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d][%02t] %m%n"/>
      </layout>
    </appender>

    <!--操作日志-->
    <logger name="LogOperate">
      <level value="ALL"/>
      <appender-ref ref="OperateLogFileAppender"/>
    </logger>

    <appender name="OperateLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--按日期滚动备份，每天限制最多产生1M日志（500K * 2个文件）-->
      <param name="File" value="Log/B-操作日志/Operate_"/>
      <param name="Encoding" value="utf-8"/>
      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
      <param name="MaximumFileSize" value="500KB"/>
      <param name="MaxSizeRollBackups" value="1"/>
      <param name="RollingStyle" value="Composite"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d][%02t] %m%n"/>
      </layout>
    </appender>

    <!--通讯日志-->
    <logger name="LogCommucation">
      <level value="ALL"/>
      <appender-ref ref="CommucationLogFileAppender"/>
    </logger>

    <appender name="CommucationLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--按日期滚动备份，每天限制最多产生10M日志（10M * 10个文件）-->
      <param name="File" value="Log/C-通讯日志/Commucation_"/>
      <param name="Encoding" value="utf-8"/>
      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
      <param name="MaximumFileSize" value="100MB"/>
      <param name="MaxSizeRollBackups" value="1"/>
      <param name="RollingStyle" value="Composite"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d][%02t] %m%n"/>
      </layout>
    </appender>

    <!--产量日志-->
    <logger name="LogData">
      <level value="ALL"/>
      <appender-ref ref="DataLogFileAppender"/>
    </logger>

    <appender name="DataLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--按日期滚动备份，每天限制最多产生1M日志（10MB * 10个文件）-->
      <param name="File" value="Log/D-绑定数据/Data_"/>
      <param name="Encoding" value="utf-8"/>
      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
      <param name="MaximumFileSize" value="100MB"/>
      <param name="MaxSizeRollBackups" value="1"/>
      <param name="RollingStyle" value="Composite"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d] %m%n"/>
      </layout>
    </appender>

  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
